<div class="form">
<h3 class="form-header">ジャンル編集</h3>

	<div class="form-area">
		<table>
			<tr>
				<%= form_for(@genre) do |f| %>
					<td colspan="3">ジャンル名</td>
					<td><%= f.text_field :name %></td>
			</tr>
		</table>
	</div>
	<td><%= f.submit "保存", class:"btn btn-primary" %></td>
	<% end %>
</div>