<h3>レーベル編集</h3>


<table>
	<tbody>
		<tr>
			<%= form_for(@label) do |f| %>
				<td colspan="3">レーベル名</td>
				<td><%= f.text_field :name %></td>
				<td><%= f.submit "完了" %></td>
			<% end %>
		</tr>
	</tbody>
</table>
