<h3>About -follicについて- </h3>
<div class="center-block">
	<div class="about-contents">
		<h2>欲しいCDをゲットしよう。</h2>
		<p>
			好きなアーティストやタイトルで検索してみましょう。<br/>
			会員登録することで、たったの数クリックでCDを購入することができます。
		</p>
		<p><%= link_to "今すぐ登録する", new_user_registration_path, class: "btn btn-primary" %></p>
	</div>
	<div class="about-contents">
		<h2>お気に入りのアーティストの情報を<br/>ワンクリックで。</h2>
		<p>
			会員登録すると、好きなアーティストをフォローできます。<br/>
			フォローアーティストページでは、フォローしたアーティストの<br/>
			最新CD情報やイベント情報を入手できます。</p>
	</div>

	<div>
		<!-- <botton>新規登録 -->
		<!-- <botton>ログイン -->
	</div>
</div>