<h3>About -follicについて- </h3>
<div class="center-block">
	<div class="cd-purchase">
		<h2>CD購入機能</h2>
		<p>あなたが好きなアーティストのCDを購入することができます</p>
		<p><%= link_to "今すぐ登録する", new_user_registration_path, class: "btn btn-primary" %></p>
	</div>
	<div class="follow-">
		<h2>フォロー機能</h2>
		<p>会員登録すると好きなアーティストをフォローできます。同時にアーティストの最新イベント情報を入手できます。</p>
	</div>

	<div>
		<!-- <botton>新規登録 -->
		<!-- <botton>ログイン -->
	</div>
</div>