<h3>会員一覧</h3>

<!-- 検索バー 未作成 -->

<div>
	<table>
		<tr>
			<th>名前</th>
			<th>名前（カナ）</th>
		</tr>
		<% @users.each do |user| %>
		<tr>
			<th><%= user.name %></th>
			<th><%= user.name_kana %></th>
		</tr>
		<% end %>
	</table>
</div>

<%= paginate @users %>