<div class="follow-artist">
  <div class= "follow-artist-header">
    <h3>フォローアーティスト一覧</h3>
  </div>

  <div class="row">
    <nav class="follow-nav">
      <ul class="main-menu">
        <li class="artist-list">アーティスト名</li>
            <li>
              <% @fartists.each do |fartist| %>
              <%= link_to artist_path(fartist.artist) do %>
              <li class="artist-list">
                <%= attachment_image_tag fartist.artist, :image, :fill, 60, 60, fallback: "no_image.png" %>
                <%= link_to following_artist_path(fartist.artist.id) do %>
                  <%= fartist.artist.name %>
                <% end %>
              <% end %>
              </li>
            <% end %>
          </li>
      </ul>
    </nav>
  </div>
</div>
