<div class="follow-artist">
  <div class= "follow-artist-header">
    <h3>フォローアーティスト一覧</h3>
  </div>

  <div class="row">
    <nav class="follow-nav">
      <ul class="main-menu">
        <li class="artist-title">アーティスト名</li>
            <li>
               <% @fartists.each do |fartist| %>
              <%= link_to following_artist_path(fartist.artist.id) do %>
                <%= attachment_image_tag fartist.artist, :image, :fill, 60, 60, fallback: "no_image.png" %>
                <%= fartist.artist.name %>
              <% end %>
            <% end %>
            </li>
                <!-- <ul class="event-ul">
                  <li class="event-list">イベント</li>
                </ul>
                <ul class="item-ul">
                  <li class="item-list">CD</li>
              </ul> -->
      </ul>
    </nav>
  </div>
</div>
