/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/* ラジオボタン非表示 */
#invisible{
  display: none;
}

header {
	width: 100%;
	background-color: #FFFFFF;
	height: 80px;
	margin: 0  auto;
	text-align: center;
	top: 0px;
}

li {
	list-style: none;
	display: inline-block;
	width: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.header-name {
	font-size: 15px;
	font-family:"Helvetica Neue";
	color: #428bca;
}
i {
	color: #428bca;
	font-size: 20px;
}
.nav-item-logo p {
	font-size: 35px;
}
h3 {
	width: 950px;
	height: 50px;
	margin: 0 auto;
	color: #428bca;
	background-color: #FFFFFF;
	border :solid 1px #cccccc;
	margin-top: 10px;
	padding-top: 10px;
}

/*アーティスト一覧、商品一覧　3列表示*/
.thumbnail-contents{
  border: 0.75px solid #ddd;
  margin: 20px;
  padding: 20px;
  width: 272px;
  height: 355px;
  display: inline-block;
}

.center-block{
	width: 950px;
	margin: 20px auto;
}

.contents-item{
	width: 100%;
	margin: 0 auto;
}

.center-block-artists{
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.price-stock {
	text-align: right;
}

/*検索欄*/
.searchbox {
	margin: 20px 0;
}

/*編集ボタンのアイコン*/

.new-btn, .follow-btn{
	float: right;
	width: 150px;
}
.edit-btn {
	float: right;
}

/* About */
.about-contents > h2{
  text-align: center;
  margin: 50px 0;
}

.about-contents > p{
  text-align: center;
  margin: 50px 0;
}

/* フラッシュメッセージ */

.notice {
  position: absolute;
  float: left;
  width: 100%;
  background-color: #58ACFA;
  color: white;
  text-align: center;
  z-index: 10;
  opacity: 0.8;
}

.alert {
  position: absolute;
  float: left;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  z-index: 10;
  opacity: 0.8;
}

.alert-devise h2{
  color: red;
  font-weight: bold;
  font-size: 15px;
}

.alert-devise li{
  color: red;
  font-size: 15px;
  display: block;
  width: 100%;
  padding: 0;
}
