// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-show-item{
	height: 20px;
	width: 800px;
	background-color: #E6E6E6
}

.artist-name{
	font-size: 25px;
}

.artist-title{
	height: 30px;
}

.artist-new{
	font-size: 15px;
}


.artist-image{
	margin: 15px 0;
}

.profile-item {
	margin: 10px;
}

.delete-btn {
	width: 200px;
	margin: 100px 0;
}

.more-btn {
	width: 100px;
	text-align: right;
	margin: 0 90%;
}