.artist-show-item{
	height: 50px;
	padding-top: 2px;
	padding-left: 10px;
	border-bottom: solid 3px #428bca;
	margin: 30px auto;
}
.artist-show {
	display: inline-block;
}
.artist-name{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 50px;
}
.artist-title{
	height: 30px;
}
.artist-new{
	font-size: 15px;
}
.profile {
	height: 500px;
	margin: 15px 0;
}
.artist-block{
	float: left;
}
.artist-intro {
	width: 400px;
	margin: 0 20px;
}
.profile-item {
	margin: 10px;
}
.delete-btn {
	width: 200px;
	margin: 100px 0;
}
.more-btn {
	width: 100px;
	text-align: right;
	margin: 0 85%;
}
.artist {
	width: 500px;
	margin: 0 auto;
}
.artist-header {
	background-color: #ffffff;
	text-align: center;
	line-height: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	color: #428bca;
	width: 100%;
}
.artist-area {
	border: solid 1px #cccccc;
	padding: 35px ;
}
.artist-footer {
	text-align: center;
}
.btn {
	width: 100%;
}
.follow-btn {
	width: 150px;
	height: 35px;
	font-size: 15px;
	border-radius: 20px;
	text-align: center;
	padding-top: 6px;
	border: solid 1px #cccccc;
}
.followed {
	color: #FFFFFF;
	background-color: #428bca;
}