.cart-block {
	border: solid 1px #cccccc;
}
.cart-box {
	float: left;
}
.cart-area {
	width: 200px;
}
.cart-item-box {
	height: 260px;
	width: 950px;
	border-bottom: solid 1px #cccccc;
}
.cart-item {
	height: 250px;
	width: 325px;
	margin: 5px 10px;
}
.cart-box2 {
	width: 200px;
}
.cart-total {
	height: 100px;
	position: relative;left: 750px;
}
.total-price {
	font-size: 30px;
}
.cart-btn {
	width: 130px;
	text-align: center;
	display: inline-block;
}
.buy-btn {
	width: 100px;
}
.cart-update {
	background: #7aabd6;
	color: #FFFFFF;
}
.cart-delete {
	background: #d66464;
	color: #FFFFFF;
}

.cart-box3 {
	text-align: center;
}

/*カート内容確認画面*/
.confirm-item {
	margin: 10px 5px;
	display: inline-block;
}
.address-box {
	width: 280px;
	margin-left: 20px;
	position: relative; top: 25px;
}
.destination-tag {
	width: 600px;
	height: 80px;
	font-size: 17px;
	border: solid 1px #cccccc;
}

.payment-select-box {
	width: 600px;
	height: 80px;
	font-size: 17px;
	padding-top: 15px;
	border: solid 1px #cccccc;
	margin: 10px 5px;
}
