.cart-block {
	padding: 10px 10px;
	border: solid 1px #cccccc;
}
.cart-box {
	float: left;
}
.cart-area {
	width: 40%;
}
.cart-item {
	height: 150px;
	width: 36%;
	border-bottom: solid 1px #cccccc;
	margin-top: 10px;
}
.cart-total {
	width: 100%;
}
.total-price {
	font-size: 30px;
}
.cart-btn {
	width: 130px;
	text-align: center;
	display: inline-block;
}
.cart-update {
	background: #7aabd6;
	color: #FFFFFF;
}
.cart-delete {
	background: #d66464;
	color: #FFFFFF;
}
.cart-box2 {
	width: 200px;
	position: relative; left: 70%;
}
.cart-box3 {
	text-align: center;
}

/*カート内容確認画面*/
.confirm-item {
	margin-top: 30px;
	display: inline-block;
}
.address-box {
	width: 30%;
	margin-left: 20px;
	position: relative; top: 25px;
}
.destination-tag {
	width: 67%;
	height: 80px;
	font-size: 17px;
	border: solid 1px #cccccc;
}

.payment-select-box {
	width: 67%;
	height: 80px;
	font-size: 17px;
	padding-top: 15px;
	border: solid 1px #cccccc;
}
