
/*イベント詳細*/
.event-show-item{
	float: left;
}
.event-show-box2{
	width: 500px;
	height: 300px;
	padding: 0 30px;
}
.event-name{
	font-size: 25px;
	font-weight: bold;
}
.event-detail{
	font-size: 20px;
}
.event-show-box3{
	width: 60px;
	margin: 20px auto;
}

.show-item{
	margin: 15px 0;

.event{
	width: 40%;
	margin: 0 auto;
}
.event-header {
	background-color: #ffffff;
	text-align: center;
	line-height: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	color: #428bca;
	width: 100%;
}
.event-area {
	border: solid 1px #EEEEEE;
	padding: 50px ;
}
.event-footer {
	text-align: center;
}
.btn {
	width: 100%;
}


