.event {
	width: 40%;
	margin: 0 auto;
}
.event-header {
	background-color: #ffffff;
	text-align: center;
	line-height: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	color: #428bca;
	width: 100%;
}
.event-area {
	border: solid 1px #cccccc;
	padding: 50px ;
}
.event-footer {
	text-align: center;
}
.btn {
	width: 100%;
}

.event-td {
	padding: 10px 20px;
}

/*イベント詳細*/
.event-show-item{
	float: left;
}
.event-image {
	width: 300px;
	height: 300px;
}
.event-show-box2{
	width: 600px;
	padding: 0 50px;
}
.event-name{
	font-size: 25px;
	font-weight: bold;
}
.event-detail{
	font-size: 20px;
}
.event-show-box3{
	position: relative; top:20px;
	width: 60px;
}

.show-item{
	margin: 15px 0;
}
