.clearfix::after{
  content: "";
  clear: both;
  display: block;
}
.follow-nav{
  margin: 0 400px;
}
.follow-artist-header {
  background-color: #ffffff;
  text-align: center;
  line-height: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  color: #428bca;
  width: 100%;
}
.row {
  margin: 0 auto;
  height: 800px;
}
li {
  white-space: nowrap;
}
.main-menu li {
  position: relative;
  width: 400px;
}
.main-menu > li {
  border-bottom: none;
  width: 400px;
}
.event-list .item-list {
  height: 180px;
}
.main-menu li:hover > ul > li {
  border-bottom: none;
}
.main-menu li {
  display: block;
  color: #fff;
  padding: 0 5px;
  background: #9fb7d4;
  box-sizing: border-box;
  transition: 0.5s;
}
.main-menu > li:hover {
  color: orange;
  background: #afc6e2;
}
.main-menu li:hover > ul > li {
  overflow: visible;
  transition-delay: 3s;
}

.main-menu li ul li {
  overflow: hidden;
  height: 0;
  list-style: none;
}
.event-ul {
  width: 0;
  height: 0;
}
.artist-list {
  margin: 3px auto;
}
.event-list {
  right: 190px;
  bottom: 490px;
  margin: 3px 0;
}
.item-ul {
  height: 0;
}
.item-list {
  left: 620px;
  bottom: 490px;
  width: 40px;
  margin: 3px 0;
}
.fartist-image {
  width: 230px;
  height: 230px;
}
.event-images {
  width: 230px;
  height: 230px;
}
.item-images {
  height: 230px;
  width: 230px;
}

.current-artist {
  border: solid 5px #428bca;
}
