.clearfix::after{
  content: "";
  clear: both;
  display: block;
}
.follow-nav{
  font-size: 10px;
  margin: 0 400px;
}
/*.f-list-wrapper{
  width: 80%;
  height: 250px;
  overflow: scroll;
/*  background-color: blue; // 範囲確認用 後で消します*/

/*.f-list{
  width: 100%;
  height: 40px;
  margin: 10px auto;
}*/
/*
.f-list-text{
  float: left;
  font-size: 10px;
  font-weight: bold;
  margin: 10px;
}*/
/*.follow-artist {
   margin: 0 auto;
   padding: 0 0 0 75px;
}*/
.follow-artist-header {
  background-color: #ffffff;
  text-align: center;
  line-height: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  color: #428bca;
  width: 100%;
}
.row {
  margin: 0 auto;
  height: 200px;
}
.main-menu li {
  position: relative;
  width: 170px;

}
.main-menu > li {
  border-bottom: none;
}
.main-menu li:hover > ul > li {
  border-bottom: none;
}
.main-menu li {
  display: block;
  color: #fff;
  padding: 0 5px;
  background: #9fb7d4;
  box-sizing: border-box;
  transition: 0.5s;
}
.main-menu > li:hover {
  color: orange;
  background: #afc6e2;
}
.main-menu li:hover > ul > li {
  overflow: visible;
  transition-delay: 3s;
}

.main-menu li ul li {
  overflow: hidden;
  height: 0;
  list-style: none;
}
.event-ul {
  width: 0;
  height: 0;
}
.event-list {
  right: 180px;
  bottom: 65px;
}
.item-ul {
  width: 0;
  height: 0;
}
.item-list {
  left: 175px;
  bottom: 65px;
  width: 40px;
}
/* li ul.item-lll {
  left: 200px;
}*/
/*.follow-artist-area {
  border: solid 1px #cccccc;
  padding: 35px ;
}*/
/*.main-menu {
  margin: 0 auto;
}*/
/*.menu-box{
  float: left;
  margin: auto 120px;
}*/
