.purchase-day-tag {
	background-color: pink;
}

.purchase-area {
	background-color: gray;
}

.inline-table{
	background-color: green;
}
.total-price{
	background-color: blue;
}
.payment-method{
	background-color: red;
}
.user-address{
	background-color: #FF0000;
}
.history-subtota {
	background-color: red;
}
.inline-table {
	border :solid 1px black;
}
.history-title {
	width: 300px;
}
.history-item {
	width: 150px;
}