.purchase-day-tag {
	height: 40px;
	padding-top: 10px;
	color: #FFFFFF;
	background-color: #428bca;
}
.history-box {
	margin-top: 10px;
	border :solid 1px #cccccc;
}
.payment-method, .user-address{
	width: 92%;
	margin: 5px auto;
	border :solid 1px #cccccc;
}

.history-title {
	width: 350px;
}
.history-ratist {
	width: 250px;
}
.history-item {
	width: 150px;
}