.purchase-day-tag {
	height: 40px;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 17px;
	color: #FFFFFF;
	background-color: #428bca;
}
.history-box {
	margin-top: 10px;
	border :solid 1px #cccccc;
}
.payment-method, .user-address{
	width: 92%;
	margin: 5px auto;
	border :solid 1px #cccccc;
}

.history-title {
	width: 350px;
}
.history-ratist {
	width: 250px;
}
.history-item {
	width: 150px;
}

/*受注一覧*/
.history-list-item1{
	width: 200px;
	text-align: center;
}
.history-list-item2{
	width: 350px;
}
.history-list-item3{
	width: 250px;
}
.history-list-item4{
	width: 250px;
}
.status-btn {
	width: 150px;
	margin: 0 auto;
}