
.label-new-btn {
	display: inline-block;
}

.label-name {
	width: 250px;
	height: 40px;
	padding-top: 10px;
}
.label-btn {
	width: 70px;
}
.label-item {
	display: inline-block;
}
.label-list {
	border-bottom: solid 1px #cccccc;
}
