.form {
	width: 30%;
	margin: 0 auto;
}
.form-header h3 {
	background-color: #FF9966;
	text-align: center;
	margin-top: 20px;
	padding: 20px;
	border: solid 1px #EEEEEE;
	color: #428bca;
}
.form-area {
	border: solid 1px #EEEEEE;
	padding: 35px ;
}
.form-footer {
	text-align: center;
}
.btn {
	width: 100%;
}