.form {
	width: 500px;
	margin: 0 auto;
}
.form-header {
	background-color: #ffffff;
	text-align: center;
	line-height: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	border: solid 1px #cccccc;
	color: #428bca;
	width: 100%;
}
.form-area {
	border: solid 1px #cccccc;
	padding: 35px ;
}
.form-footer {
	margin-top: 20px;
	text-align: center;
}
.btn {
	width: 100%;
}
.user-table {
	margin: 0 auto;
}
/*マイページ*/
.mypage-form-header {
	background-color: #ffffff;
	text-align: center;
	line-height: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 40px 0;
	border: solid 1px #cccccc;
	color: #428bca;
	width: 100%;
}

.mypage {
	height: 50px;
}

.mypage-item {
	width: 350px;
}
.mypage-edit {
	width: 130px;
	margin-top: 20px;
	margin-left: 75%;
}

/*会員一覧*/
.user-list {
	width: 100%;
	border: solid 1px #cccccc;
}
.user-list-item1, .user-list-item2 {
	width: 50%;
}

.user-index-item {
	color: #FFFFFF;
}
.user-list-height {
	height: 50px;
}